

<div class="header">
                <ul  id="header-ul-left">
                   <li class="header-content"><a>Content</a>
                     
	      <ul class="navbar">
	            <li><a href="#">JavaScript</a></li>
	            <li><a href="#">CSS</a></li>
	            <li><a href="#">Python</a></li>
	            <li><a href="#">NodeJS</a></li>
	       </ul>
	    </li>
	 </ul>
               
                
	
	    <ul id="header-ul-right">
	     <li class="header-content"><a>About Me</a>
	          <ul class="navbar-right">
	               <li><a href="https://github.com/wonggigi">My GitHub</a></li>
	               <li><a href="http://www.wonggigi.com:3000/my_project">My Demo</a></li>
	               <li><a href="http://www.wonggigi.com:3000">My Resume</a></li>
	            </ul>
	            </li>
	     </ul>

	     <ul id="header-user">
	            <li class="user-header-content">{% if not username%}
	                        <a href="/login">Login</a> 
	                         {% else%}
	                         <a >Welcome {{username}} !</a>
	                           <ul id="welcome">
	           	                <li><a href="http://127.0.0.1:8000/user/setting">Settings</a></li>
	                                <li><a href="http://127.0.0.1:8000/user/signout">Sign Out</a></li>
	                          </ul>
	                         {%endif%}
	                   
	           </li>
	</ul>
	
</div>