

<div class="header">
                <ul  id="header-ul-left">
                   <li class="header-content"><a>Content</a>
                     
	      <ul class="navbar">
	              <li><a href="/">Home</a></li>
	            <li><a href="/article/javascript/JavaScript面向对象">JavaScript</a></li>
	            <li><a href="/article/fe/客户端与服务器通信Ajax">web前端</a></li>
	            <li><a href="/article/node/自动化构建工具Gulp">NodeJS</a></li>
	            <li><a href="#/article/django/Django">Django</a></li>
	       </ul>
	    </li>
	 </ul>
               
                
	
	    <ul id="header-ul-right">
	     <li class="header-content"><a>About Me</a>
	          <ul class="navbar-right">
	               <li><a href="https://github.com/wonggigi">My GitHub</a></li>
	           
	               <li><a href="http://www.wonggigi.com:3000">My Resume</a></li>
	            </ul>
	            </li>
	     </ul>

	     <ul id="header-user">
	            <li class="user-header-content">{% if not username%}
	                        <a href="/login">Login</a> 
	                         {% else%}
	                         <a >{{username}}</a>
	                           <ul id="welcome">
	           	                <li><a href="#/user/setting">Settings</a></li>
	                                <li><a href="/user/signout">Sign Out</a></li>
	                          </ul>
	                         {%endif%}
	                   
	           </li>
	</ul>
	
</div>