<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css"   href="/static/css/header.css" />
<link rel="stylesheet" type="text/css"   href="/static/css/footer.css" />
<link rel="stylesheet" type="text/css"   href="/static/css/indexs.css" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="keywords" content="王贞众,前端,实习,简历,求职,应届,frontend,resume,javascript">
  <meta name="description" content="王贞众的简历">
    <title>Wzz's Blog</title>
    <style>
    #maskLayer { 
background-color:black; 
width: 100%; 

left: 0; 
top: 0; 
filter: alpha(opacity=60); 
opacity: 0.5; 
z-index: 1; 
position: absolute; 

} 
.article-tag{
	
	color: #666!important;
	font-size: 14px!important;
}

.FE{
  font-weight: bold;
	padding: 3px;
	width: 66px;
	text-align: center;
	border: 1px solid transparent;
	border-radius: 6px;
	background-color: #Fa8072;
	color:white!important;
	display: inline-block;
	font-size: 14px!important;
}
.JavaScript{
	padding: 3px;
  font-weight: bold;
	width: 74px;
	text-align: center;
	border: 1px solid transparent;
	border-radius: 6px;
	background-color: #00ced1;
	color:white!important;
	display: inline-block;
	font-size: 14px!important;
}
.jQuery{
	padding: 3px;
	width: 66px;
  font-weight: bold;
	text-align: center;
	border: 1px solid transparent;
	border-radius: 6px;
	background-color: #dac0d6;
	color:white!important;
	display: inline-block;
	font-size: 14px!important;
}
.node{
  font-weight: bold;
	padding: 3px;
	width: 66px;
	text-align: center;
	border: 1px solid transparent;
	border-radius: 6px;
	background-color: #4eee94;
	color:white!important;
	display: inline-block;
	font-size: 14px!important;
}
.Ajax{
  padding: 3px;
  width: 66px;
  font-weight: bold;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 6px;
  background-color: #ffb2cc;
  color:white!important;
  display: inline-block;
  font-size: 14px!important;
}

.AngularJS{
  padding: 3px;
  width: 66px;
  font-weight: bold;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 6px;
  background-color: red;
  color:white!important;
  display: inline-block;
  font-size: 14px!important;
}

#h2-t{
  font-size: 14px;
  color: #666;
}

    </style>
</head>
<body>
{% include 'header.html' %}  

{% include 'personal.html' %}  
<div id="container">
<div class="article">
     <h2>Recent Article<span id="h2-t">——学习笔记</span></h2>

     {% for post in posts %}
     <div class="article-item">
       <h3> <a href={{ post.url }}>{{ post.title }}</a></h3>
       <div class="article-body">
         {% autoescape off %}
                   {{post.abstruct}}
         {% endautoescape %}
        </div>

        

       </div>
        <span  class="article-tag">阅读数({{post.readNum}})</span>
         <span class="article-tag">评论数({{post.commentNum}})</span>
         <span  class="article-tag">分类:</span>
         {% for type in post.articleTag %}
         <span  class={{type}}  >{{type}}</span>
         {% endfor %}
 {% endfor%}

</div>

<div class="grid2">
<div class="lunbo col">
<div class="lunbo-h"> 
<h2>Column</h2>
</div>
{%include 'lunbo.html' %}
</div>

<div class="lunbo1 col">
<div class="lunbo-h"> 
<h2>Demo</h2>
</div>
{%include 'lunbo1.html' %}
</div>

<!--<div id="calendar_div">
              <div id="calendar_d1">
                                                              <img id="calendar_bl"onclick="up()" src="/static/img/l.png"></button> 
                                                              <strong><span id="calendar_head"  style="font-size:16px "></span></strong>
				<img id="calendar_br"onclick="down()" src="/static/img/r.png"></button>
			</div>
			<div id="calendar_d2">
	<table id="calendar_tab">
		
	                          <tr >
			<td class="calendar_th" style="width:42px">
			S
			</td>
			<td  class="calendar_th"  style="width:42px">
			M
			</td>
			<td  class="calendar_th" style="width:42px">
			T
			</td>
			<td  class="calendar_th" style="width:42px">
			W
			</td>
			<td   class="calendar_th" style="width:42px">
			T
			</td>
			<td  class="calendar_th"  style="width:42px">
		               F
			</td>
			<td  class="calendar_th" style="border-right:none;width:42px">
			  S
			</td>
                        	          
	            </tr>			
		<tr id="calendar_row1">                
		</tr>
		 <tr id="calendar_row2">    	
		  </tr>
		  <tr id="calendar_row3">      	
		  </tr>
		  <tr id="calendar_row4">	
		 </tr>
		 <tr id="calendar_row5">       	
	               </tr>
	             <tr id="calendar_row6">
                             </tr>
					                                   
         </table>
     </div>
     </div>	-->






</div>

</div>

{% include 'footer.html' %}  

<div id="maskLayer"  style="display: none;"> 
</div>


</body>
<script type="text/javascript">
(function() {

    var oUl = document.getElementById('ul1');
    var t, o;
    var speed = 0;
    var width = document.getElementById('div2').offsetWidth
    var funny = function(dir) {

  
        t && clearInterval(t);
        if (dir == 'left') {
          t = setInterval(function() {
            speed -= 400 / 15;
            if (speed < -400) {
              speed = 0;
               oUl.appendChild(oUl.children[0]);
              t && clearInterval(t);
              t = null;
              o && clearTimeout(o);
              o = setTimeout( function(){
                  funny('left')
              } , 2500);
            }
            oUl.style.left = speed + "px";
          }, 60);
        } else if (dir=='right') {
        
         { oUl.insertBefore(oUl.children[2],oUl.firstChild);
         speed=-400;
          oUl.style.left= speed + "px";}

          t = setInterval(function() {

              speed += 400 / 15;
              if (speed >0) {
                speed = 0;
                  
                t && clearInterval(t);
                t = null;
                o && clearTimeout(o);
                o = setTimeout(function  (argument) {

           //       funny('left')
                }, 2500);
              }
              oUl.style.left= speed + "px";
            },60);
          }
        }
        funny('left');

    (function() {
      var oUl = document.getElementById('ul11');
      var t, o;
      var speed = 0;
      var funny = function(dir) {

  
        t && clearInterval(t);
        if (dir == 'left') {
          t = setInterval(function() {
            speed -= 400 / 15;
            if (speed < -400) {
              speed = 0;
               oUl.appendChild(oUl.children[0]);
              t && clearInterval(t);
              t = null;
              o && clearTimeout(o);
              o = setTimeout( function(){
                  funny('left')
              } , 2500);
            }
            oUl.style.left = speed + "px";
          }, 60);
        } else if (dir=='right') {
        
         { oUl.insertBefore(oUl.children[4],oUl.firstChild);
         speed=-400;
          oUl.style.left= speed + "px";}

          t = setInterval(function() {

              speed += 400 / 15;
              if (speed >0) {
                speed = 0;
                  
                t && clearInterval(t);
                t = null;
                o && clearTimeout(o);
                o = setTimeout(function  (argument) {

               funny('left')
                }, 2500);
              }
              oUl.style.left= speed + "px";
            },60);
          }
        }
      funny('left');
       document.getElementById('leftclick1').addEventListener('click', function(argument) {
              funny('left');
    }, false)
    document.getElementById('rightclick1').addEventListener('click', function(argument) {
        funny('right');
    }, false)
    })()

    document.getElementById('leftclick').addEventListener('click', function(argument) {
              funny('left');
    }, false)
    document.getElementById('rightclick').addEventListener('click', function(argument) {
        funny('right');
    }, false)


  })()



function displayMask(hidethis) {
    document.getElementById('maskLayer').style.display = 'block';
    document.getElementById('maskLayer').style.height = document.body.offsetHeight + "px";
    document.getElementsByClassName(hidethis)[0].style.display="none"
    
}
function hiddenMask (argument) {
  
    document.getElementById('maskLayer').style.display = 'none';
   
    document.getElementsByClassName('navbar-right')[0].style.display="none"
    document.getElementsByClassName('navbar')[0].style.display="none"
}











maskLayer.addEventListener('touchstart',hiddenMask,false)
document.getElementsByClassName('header-content')[0].addEventListener('touchstart',function  () {
        document.getElementsByClassName('navbar')[0].style.display="block"
       displayMask('navbar-right')
    })

document.getElementsByClassName('header-content')[1].addEventListener('touchstart',function  () {
        document.getElementsByClassName('navbar-right')[0].style.display="block"
       displayMask('navbar')
    })

window.onresize=function  (argument) {
    if (document.body.offsetWidth>486&&list.className=="displayList") {
        hiddenMask();
    }
}


var today = new Date(); 
calendar(today); 

 
function up () {
	for(var i=1;i<7;i++)
	{ 
		var calendarDiv=document.getElementById('calendar_row'+i);
	 while(calendarDiv.lastChild)
	 {
	 	calendarDiv.removeChild(calendarDiv.lastChild);
	 }
	}

	today.setMonth(today.getMonth()-1,today.getDate());
	calendar(today);
}
function down () {
          for(var i=1;i<7;i++)
	{ var calendarDiv=document.getElementById('calendar_row'+i);
	 while(calendarDiv.lastChild)
	 {
	 	calendarDiv.removeChild(calendarDiv.lastChild);
	 }
	}

	today.setMonth(today.getMonth()+1,today.getDate());
	calendar(today);
}
function calendar(today) 
{
	
	year = today.getYear(); 
	thisDay = today.getDate(); 
              
             var monthDays = new Array(31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31);
             if (((year % 4 == 0) && (year % 100 != 0)) || (year % 400 == 0)) monthDays[1] = 29;
             daysOfMonth = monthDays[today.getMonth()]; 
             today.setMonth(today.getMonth(),1); 
             var monthNames = new Array("January "," February ","March","April ","May","June","July ","August","September","October","November","December");
year=year+1900;
document.getElementById("calendar_head").innerHTML=monthNames[today.getMonth()]+"     &nbsp    "+year;
column = 0;
for (i=0; i<today.getDay(); i++) 
{
var  td=document.createElement('td');
td.className="calendar_td";
var calendarRow1=document.getElementById('calendar_row1');
calendarRow1.appendChild(td);
column++;
}
var calendarRow=document.getElementById('calendar_row1');
j=2;
var newd=new Date();
for (i=1; i<=daysOfMonth; i++) 
{
	if (column == 7) 
	{	
		
		column = 0;
		calendarRowId="calendar_row"+j;
		j=j+1;
		calendarRow=document.getElementById(calendarRowId);
	}
	
	if (i == newd.getDate()&& today.getMonth()==newd.getMonth() &&newd.getYear()==today.getYear() )
	{
		
		var  td=document.createElement('td');
		td.className="calendar_td";
		td.innerHTML="<span style='color:blue;'>"+i+"</span>"
		calendarRow.appendChild(td);
	}
	else {
		var  td=document.createElement('td');
		td.className="calendar_td";
		td.innerHTML=i;
		calendarRow.appendChild(td);
	}
	

	column++;
	
}

          var temp;
           var td = document.getElementsByClassName('calendar_td');
 for (var i = 0; i < td.length; i++) 
 {
              if (td[i].id!='calendar_today') {
                    td[i].onclick=function  () 
                    {

                   var select=document.getElementById('calendar_select');
                   if (select) {
                   	select.setAttribute("id"," ");
                   	select.innerHTML=temp;
                         };
                   temp=this.innerHTML;
                        this.innerHTML="<span style='color:#46a3ff;'>"+this.innerHTML+"</span>"
                        this.setAttribute("id", "calendar_select");
                    }
            }
}
}








</script>
</html>
