

<style type="text/css">
* {
    margin: 0;
    padding: 0;
}
 
#div12 {
    margin: auto;
    width: 400px;
    overflow: hidden;
    left: 200px;
}
 
#div11 {
    position: relative;
    left: 0px;
    width: 1200px;
    height: 180px;
    overflow: hidden;
}
 
#div11 li {
    list-style-type: none;
    float: left;
    width: 400px;
    height: 180px;
}
 
img {
    width: 400px;
    height: 180px;
}
 
ul#ul11 {
    position: relative;
}
#ul11 a{
    text-decoration: none;
    color: white;
    position: relative;
    top: -30px;
  background-color: rgba(221, 221, 221, 0.8); 
   display: block;
   padding: 3px auto 3px 100%;
   padding-top: 3px;
   padding-bottom: 3px;
   padding-left: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}
@media screen and (max-width: 486px) {  
 
    .grid2{
        margin-left: 0px;
    }  
}  
.lunbo-right-click{
    background-color: rgba(221, 221, 221, 0.8); 
    z-index: 99;
    position: absolute;
    top: 40px;
    left: 370px;
    display: inline-block;
    width: 30px;
    height: 80px;
    
}
.lunbo-left-click{
    background-color: rgba(221, 221, 221, 0.8); 
    top: 40px;
    z-index: 99;
    position: absolute;
    
    display: inline-block;;
width:30px;
    height: 80px;
    
}

.arrow-left {
    position: absolute;
    width:0; 
    height:0; 
    left: 6px;
    top: 10px;
        border-top:30px solid transparent;
    border-bottom:30px solid transparent; 
    border-right:14px solid white; 

}

.arrow-right {
    position: absolute;
    width:0; 
    height:0; 
    left: 8px;
    top: 10px;
    border-top:30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 14px solid white;

}
@media screen and (max-width: 400px) {  
     #div11{
        width: 100%;
     }
     #div12{
        width: 100%;
        height: 178px;
        overflow: hidden;
     }
 #ul11 li{
        width: 34%;
    }
    #ul11{
        width: 300%;
    }
    img{
        width: 100%!important;
    }
    .lunbo-right-click{
    
    left: 90%;
    
}
}  
</style>


    <div id="div12">
        <div id="div11">
        <div class="lunbo-left-click"  id="leftclick1"><div class="arrow-left"></div></div>
             <div class="lunbo-right-click" id="rightclick1"><div class="arrow-right"></div></div>
            <ul id="ul11">
                <li><div><img src="/static/img/demoresume.png"><a href="#">Resume</a></div></li>
                <li><div><img src="/static/img/demochart.png"><a href="#">wTinyChart.js基于HTML5 Canvas的图表库</a></div>
                </li>
                <li><div><img src="/static/img/demotank.png"><a href="#">原生JavaScript坦克大战</a></div></li>
                <li><div><img src="/static/img/demostock.png"><a href="#">Node.js与Ajax实时股票数据</a></div></li>
                <li><div><img src="/static/img/demorblog.png"><a href="http://www.wonggigi.com/">自适应的Blog</a></div>
            </ul>
        </div>
    </div>
