

<style type="text/css">
* {
    margin: 0;
    padding: 0;
}
 
#div12 {
    margin: auto;
    width: 400px;
    overflow: hidden;
    left: 200px;
}
 
#div11 {
    position: relative;
    left: 0px;
    width: 1200px;
    height: 180px;
    overflow: hidden;
}
 
#div11 li {
    list-style-type: none;
    float: left;
    width: 400px;
    height: 180px;
}
 
img {
    width: 400px;
    height: 180px;
}
 
ul#ul11 {
    position: relative;
}
#ul11 a{
    text-decoration: none;
    color: white;
    position: relative;
    top: -30px;
  background-color: rgba(221, 221, 221, 0.8); 
   display: block;
   padding: 3px auto 3px 100%;
   padding-top: 3px;
   padding-bottom: 3px;
   padding-left: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}
@media screen and (max-width: 486px) {  
 
    .grid2{
        margin-left: 0px;
    }  
}  


</style>


    <div id="div12">
        <div id="div11">
            <ul id="ul11">
                <li><div><img src="/static/img/demoresume.png"><a href="http://www.wonggigi.com:3000/">Resume</a></div></li>
                <li><div><img src="/static/img/demotank.png"><a href="http://www.wonggigi.com:3000/my_project">原生JavaScript坦克大战</a></div></li>
                <li><div><img src="/static/img/demostock.png"><a href="http://www.wonggigi.com:3000/stock">Node.js与Ajax实时股票数据</a></div></li>
                <li><div><img src="/static/img/demoregister.png"><a href="http://www.wonggigi.com/register/">Blog注册系统——Django与Ajax表单校验</a></div>
                </li>
                <li><div><img src="/static/img/demorblog.png"><a href="http://www.wonggigi.com/">自适应的Blog</a></div>
            </ul>
        </div>
    </div>
