

<style type="text/css">
* {
    margin: 0;
    padding: 0;
}
 
#div2 {
    margin: auto;
    width: 400px;
    overflow: hidden;
    left: 200px;
}
 
#div1 {
    position: relative;
    left: 0px;
    width: 1200px;
    height: 200px;
    overflow: hidden;
}
 
#div1 li {
    list-style-type: none;
    float: left;
    width: 400px;
    height: 180px;
   
}
 
#ul1 img {
    width: 400px;
    height: 180px;
}
 
ul#ul1 {
    position: relative;
}
#ul1 a{
    text-decoration: none;
    color: white;
    position: relative;
    top: -30px;
  background-color: rgba(221, 221, 221, 0.85); 
   padding-left: 30px;
   padding-top: 3px;
   display: block;
   padding-bottom: 3px;
    padding-right: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}
@media screen and (max-width: 486px) {  
     .grid2{
        margin-left: 0px;
    }  

}  
.lunbo-right-click{
	background-color: rgba(221, 221, 221, 0.8); 
	z-index: 99;
	position: absolute;
	top: 40px;
	left: 370px;
	display: inline-block;
	width: 30px;
	height: 80px;
	
}
.lunbo-left-click{
	background-color: rgba(221, 221, 221, 0.8); 
	top: 40px;
	z-index: 99;
	position: absolute;
	
	display: inline-block;;
width:30px;
	height: 80px;
	
}

.arrow-left {
	position: absolute;
    width:0; 
    height:0; 
    left: 6px;
    top: 10px;
        border-top:30px solid transparent;
    border-bottom:30px solid transparent; 
    border-right:14px solid white; 

}

.arrow-right {
	position: absolute;
    width:0; 
    height:0; 
    left: 8px;
    top: 10px;
    border-top:30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 14px solid white;

}
@media screen and (max-width: 400px) {  
     #div1{
     	width: 100%;
     }
     #div2{
     	width: 100%;
     	height: 178px;
     	overflow: hidden;
     }
 #ul1 li{
    	width: 34%;
    }
    #ul1{
    	width: 300%;
    }
    img{
    	width: 100%!important;
    }
    .lunbo-right-click{
	
	left: 90%;
	
}
}  
</style>


    <div id="div2">
   

        <div id="div1">

                <div class="lunbo-left-click"  id="leftclick"><div class="arrow-left"></div></div>
             <div class="lunbo-right-click" id="rightclick"><div class="arrow-right"></div></div>
            <ul id="ul1">
                <li><div><img src="/static/img/jslogo.jpg" ><a href="/article/javascript/JavaScript异步与事件">JavaScript</a></div></li>
                <li><div><img src="/static/img/weblogo.jpg" ><a  href="/article/fe/客户端与服务器通信Ajax">FE</a></div></li>
                <li><div><img src="/static/img/nodelogo.jpg" ><a href="/article/node/自动化构建工具Gulp">Node</a></div></li>
            
            </ul>
        </div>
    </div>
