<!DOCTYPE html >
<html >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css"   href="/static/css/footer.css" />
<link rel="stylesheet" type="text/css"   href="/static/css/header.css" />
    <title>用户注册</title>
</head>
  <style type="text/css">
  
	
form,h1{
	margin-top: 100px;
}
#test{
	display: none;
}
input{
	border:2px 2px 2px 2px;
}

  </style>

<body>
{% include 'header.html' %} 
<h1>注册</h1>
<form method = 'post' enctype="multipart/form-data"  onsubmit="return validate_form(this)">

User Name: <input class="input" type="text" name="username" size="30">
<span id="username-tip">{{uTip}}</span>
<br />

PassWord: <input class="input"type="password" name="password" size="30">
<span id="pass-tip"></span>
<br />

Repeat PassWord: <input class="input" type="password" name="repassword" size="30">
<span id="repass-tip"></span>
<br />

Email: <input class="input" type="text" name="email" size="30">
<span id="email-tip">{{eTip}}</span>
<br />

<div id="test">
验证码: <input type="text" name="test" size="10">
<span ></span>
<br />
</div>



<input type="submit" value = "ok" />
</form>



{% include 'footer.html' %} 
</body>
<script type="text/javascript">
var addr='http://www.wonggigi.com/register/'
	function validate_required(field, txt, i) {
		//var inputs = document.getElementsByClassName('input')
		var name = ['username-tip', 'pass-tip', 'repass-tip', 'email-tip']
			//with(field) {
		if (i == 0 && field.value.length < 3 && field.value) {
			document.getElementById(name[i]).innerHTML = "too short";
			return false
		}

		if (i == 3) {
			apos = field.value.indexOf("@")
			dotpos = field.value.lastIndexOf(".")
			if (apos < 1 || dotpos - apos < 2) {
				document.getElementById(name[i]).innerHTML = "Not a valid e-mail address!";
				return false
			} else {
				return true
			}

		};

		if (field.value == null || field.value == "") {
			//inputs[0].innerHTML="dasd"
			document.getElementById(name[i]).innerHTML = txt;
			return false
		} else {
			return true
		}

		//}
	}


	function requireIdcode () {
		var email=document.getElementsByName('email')[0].value;;
		var testEmail=document.getElementsByName('test')[0].value;
		if (window.XMLHttpRequest) {
			var xmlhttprequest = new XMLHttpRequest();
		} else if (window.ActiveXObject) {
			try {
				var xmlhttprequest = new ActiveXObject("Msxm12.XMLHTTP");
			} catch (e) {
				try {
					var xmlhttprequest = new ActiveXObject("Microsoft.XMLHTTP");
				} catch (e) {
					alert("not support");
				}
			}
		};

		xmlhttprequest.open("POST", addr, true);
		xmlhttprequest.setRequestHeader("Content-Type", "application/json");
		xmlhttprequest.onreadystatechange = response;
		xmlhttprequest.send('{"email":"' + email + '","testEmail":"' + testEmail + '","username":"","requireIdcode":"1"}');
		function response(argument) {
			if (xmlhttprequest.readyState == 4) {
				if (xmlhttprequest.status == 200 || xmlhttprequest == 0) {
					var message = xmlhttprequest.responseText;
					var message = eval("(" + message + ")");
					document.getElementById("email-tip").innerHTML = message.message
				}
			}

		}
	}


                


	function validate_form(thisform) {
		//with(thisform) {
		var testEmail = document.getElementsByName('test')[0].value;
		var tip = ['Username', 'Password', 'Repeat PassWord', 'Email']
		var inputs = document.getElementsByClassName('input')
		for (var i = 0; i < inputs.length; i++) {
			if (validate_required(inputs[i], tip[i] + " must be filled out!", i) == false) {
				inputs[i].focus();
				return false
			}
		} //}
		if (i==inputs.length) {
			       var test=document.getElementById('test');
			       test.style.display="block"
			       if (testEmail==null||testEmail=="") {
			       	  requireIdcode()
			   	   return false;
			       };
		};
	}



	document.getElementsByName('email')[0].onblur = function() {
		var email = document.getElementsByName('email')[0].value;
		var testEmail = document.getElementsByName('test')[0].value;
		if (window.XMLHttpRequest) {
			var xmlhttprequest = new XMLHttpRequest();
		} else if (window.ActiveXObject) {
			try {
				var xmlhttprequest = new ActiveXObject("Msxm12.XMLHTTP");
			} catch (e) {
				try {
					var xmlhttprequest = new ActiveXObject("Microsoft.XMLHTTP");
				} catch (e) {
					alert("not support");
				}
			}
		};

		xmlhttprequest.open("POST", addr, true);
		xmlhttprequest.setRequestHeader("Content-Type", "application/json");
		xmlhttprequest.onreadystatechange = response;
		xmlhttprequest.send('{"email":"' + email + '","testEmail":"' + testEmail + '","username":"","requireIdcode":""}');
		function response(argument) {
			if (xmlhttprequest.readyState == 4) {
				if (xmlhttprequest.status == 200 || xmlhttprequest == 0) {
					var message = xmlhttprequest.responseText;
					var message = eval("(" + message + ")");
					document.getElementById("email-tip").innerHTML = message.message
				}
			}

		}
	}




	document.getElementsByName('username')[0].onblur = function() {
		var username = document.getElementsByName('username')[0].value;
		var testEmail = document.getElementsByName('test')[0].value;
		if (window.XMLHttpRequest) {
			var xmlhttprequest = new XMLHttpRequest();
		} else if (window.ActiveXObject) {
			try {
				var xmlhttprequest = new ActiveXObject("Msxm12.XMLHTTP");
			} catch (e) {
				try {
					var xmlhttprequest = new ActiveXObject("Microsoft.XMLHTTP");
				} catch (e) {
					alert("not support");
				}
			}
		};

		xmlhttprequest.open("POST", addr, true);
		xmlhttprequest.setRequestHeader("Content-Type", "application/json");
		xmlhttprequest.onreadystatechange = response;
		xmlhttprequest.send('{"username":"' + username + '","testEmail":"' + testEmail + '","email":""}');

		function response(argument) {
			if (xmlhttprequest.readyState == 4) {
				if (xmlhttprequest.status == 200 || xmlhttprequest == 0) {
					var message = xmlhttprequest.responseText;
					var message = eval("(" + message + ")");
					document.getElementById("username-tip").innerHTML = message.message
				}
			}

		}
	}
	
</script>
</html>
